<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-modal.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>Github Plugin</title>
</head>
<body>
<div class="jumbotron center">
    <h3>Github Integration Plugin</h3>
    <p>SignUp with Github, Sync Github Events and Visualise on QuantifiedDev </p>
    <a class="btn btn-lg btn-success signup-button" href="/auth/github">Sync Github Events</a>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-modal.js"></script>
</body>
</html>