body{
    line-height: 18px;
}
.white-background {
    background:white;
}
.header-text {
    color: #E2E2E2;
}
.center{
    margin: 10%;
}
.signup-button{
    margin: 5% 0;
    background:#1AC8A2;
    border: 1px solid #54FFFA;
}
.btn:hover, .btn:focus,.signup-button{
    color: #FFF;
}
.signup-button:hover{
    background: #19bc98;
}
#loading{
    margin: 20% 0 0 35%;
}

#loading img {
    margin-left: 18%;
    margin-top: 2%;
}
#loading p{
    font-size: 21px;
    font-weight: 200;
}
@media (min-width: 600px){
    .container {
        width: 400px;
    }
}
@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 100px;
    }
}